/* Réinitialisation des styles de base */
body, h1, p {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #0056b3; /* Bleu foncé */
    color: #fff;
    padding: 20px;
    text-align: center;
}

header h1 {
    font-size: 2em;
}

main {
    padding: 20px;
}

.boxes {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.box {
    background-color: #007bff; /* Bleu primaire */
    color: #fff;
    padding: 20px;
    width: 30%;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.buttons {
    text-align: center;
}

.btn {
    background-color: #0056b3; /* Bleu foncé */
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 10px;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #003d7a; /* Bleu encore plus foncé au survol */
}

footer {
    background-color: #0056b3; /* Bleu foncé */
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}
